body { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 50vh; 
    background-color: rgb(240,230,220);
} 
  
.root { 
    font-size: x-large; 
    color: black; 
    background-color: pink; 
    box-shadow: 0 8px 8px grey; 
    padding: 0% 5% 1% 5%; 
    text-align: center; 
    border-radius: 5px 0; 
    width: 50%;
    height: 100%;
} 
  
.title { 
    border-bottom: 4px dashed; 
    border-color: black; 
} 
  
input { 
    font-size: 20px; 
    padding-left: 10px; 
    outline: 2px grey; 
} 
  
  
.foot { 
    margin-bottom: 0%; 
    display: flex; 
    width: 100%; 
} 
  
.foot>button { 
    width: 48%; 
    padding: 1%; 
    margin: 1%; 
    background-color: black; 
    border-radius: 5px; 
    border-color: black; 
    font-size: large; 
    color: white;
}